body { background-color:rgb(95, 119, 130);
    /* background-image: url("img/bg.img2.jpg"); */
    font-family:arial;
    color:white }

/*  */
h1
{
    color:rgb(255, 255, 255);
    font-family:verdana;
    text-align: center;
}


.maindiv {
    background-color: #1c97d45c;
    color: black;
    margin: auto;
    width: 500px;
    padding: 10px;
    border-radius: 25px;
    align: center;
    
}

#button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
  }
  

.center{
    margin: auto;
    width: 340px;
}